build.options.json
compile_commands.json
includes.cache
libraries.cache
core/
libraries/
sketch/
*.eep
*.elf
*.hex
*.bin
*.o
*.d
*.a

# KiCad: local UI state, caches and auto-backups
*.kicad_prl
fp-info-cache
*-backups/
*.kicad_pcb-bak
*.kicad_sch-bak
_autosave-*
*.kicad_prl~

# Python
__pycache__/
*.pyc
